<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1 class="header" >Game of Thrones</h1>

    <div class="titles">
      <h2 class=""><%= link_to "Houses", houses_path, class: 'link' %>  |  <%= link_to "Characters", characters_path, class: 'link' %></h2>
    </div>

    <%= yield %>
  </body>
</html>
