<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if !current_user %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'link' %>
      <%= link_to "Sign in", new_user_session_path, class: 'link' %>
    <% else %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <%= current_user.email %>
    <% end %>

    <h1 class="header" >Game of Thrones</h1>

    <div class="titles">
      <h2 class=""><%= link_to "Houses", houses_path, class: 'link' %>  |  <%= link_to "Characters", characters_path, class: 'link' %></h2>
    </div>

    <%= yield %>
  </body>
</html>
